<app-container>
    <section class="about text-gray-300 prose">
        <h2>About</h2>
        <p>This (WIP) site is built with Angular and Firebase, check out the code on <a
                href="https://github.com/qiushiyan/potg" class="text-accent">github</a>.</p>
        <p>More features to add: </p>
        <ul>
            <li>Commenting system</li>
            <li>View other's profiles</li>
            <li>management dashboard, video statistics with charts</li>
        </ul>
    </section>
</app-container>