<div class="mb-3">
    <label class="label text-xl">{{ name }}</label>
    <input [type]="type" [formControl]="field" [placeholder]="placeholder" [class]="inputClass"
        [attr.aria-label]="ariaLabel" />
    <ng-container *ngIf="isChanged()">
        <app-alert *ngIf="isRequired()">
            {{ isRequiredError() }}
        </app-alert>
        <app-alert *ngIf="isMinLength()">
            {{ isMinLengthError() }}
        </app-alert>
        <app-alert *ngIf="isEmailInvalid()">
            {{ isEmailInvalidError() }}
        </app-alert>
        <app-alert *ngIf="isEmailExists()">
            {{ isEmailExistsError() }}
        </app-alert>
    </ng-container>
</div>