<app-container>
    <div class="avatar online placeholder">
        <div class="bg-neutral-focus text-neutral-content rounded-full w-16">
            <img [src]="this.authService.currentUser?.photoURL" />
        </div>
    </div>

    <div class="rounded relative flex justify-between">
        <app-link href="/clips/new">Upload new video</app-link>

        <!-- Sort Videos -->
        <select class="select select-accent w-full max-w-xs" (change)="sort($event)">
            <option disabled selected>Order</option>
            <option value="desc" [selected]="videosOrder === 'desc'">Latest to Oldest</option>
            <option value="asc" [selected]="videosOrder === 'asc'">Oldest to Latest</option>
        </select>
    </div>

    <button class="btn btn-outline btn-accent" (click)="logout()">Logout</button>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <p *ngFor="let video of videoService.userVideos">{{video.title}} </p>
    </div>

</app-container>