<div class="max-w-6xl m-auto">
    <div class="avatar online placeholder">
        <div class="bg-neutral-focus text-neutral-content rounded-full w-16">
            <img [src]="photoURL" />
        </div>
    </div>

    <div class="rounded relative flex justify-between">
        <app-link href="/videos/new">Upload new video</app-link>

        <!-- Sort Videos -->
        <select class="select select-accent w-full max-w-xs" (change)="sort($event)">
            <option disabled selected>Order</option>
            <option value="desc" [selected]="videosOrder === 'desc'">Latest to Oldest</option>
            <option value="asc" [selected]="videosOrder === 'asc'">Oldest to Latest</option>
        </select>
    </div>

    <button class="btn btn-outline btn-accent" (click)="logout()">Logout</button>
</div>