<form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-control w-full">
        <!-- email -->
        <app-input [field]="email" name="Email" [required]="true" type="email"></app-input>
        <!-- password -->
        <app-input [field]="password" name="Password" [required]="true" [minLength]="passwordMinLength" type="password">
        </app-input>
        <!-- username -->
        <app-input [field]="username" name="Username" [required]="true"></app-input>

        <button class="btn btn-accent w-full" [disabled]="isFormInvalid()" [class.disabled]="isFormInvalid()"
            [class.loading]="loading">{{ loading ? "Submitting ..." :
            "Submit"}}</button>
        <!-- firebase create user error -->
        <app-alert *ngIf="error">
            {{ error }}
        </app-alert>
    </div>
</form>