<div class="hero min-h-screen">
    <div class=" hero-overlay bg-opacity-60">
        <video autoplay muted loop>
            <source src=" assets/videos/hero.webm" type="video/webm">
        </video>
    </div>
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-2lg text-white">
            <h1 class="mb-5 text-5xl font-bold ">Share Your Moment to the World</h1>
            <p class="mb-5">
                Easily upload and share your game clips in seconds
            </p>
            <button class="btn btn-outline btn-info">Get Started</button>
        </div>
    </div>
</div>