<form (ngSubmit)="onSubmit()" #loginForm="ngForm">

    <!-- social providers -->
    <div class="my-5 flex justify-around">
        <button class="btn btn-outline btn-accent" (click)="loginWithGithub()">Login with github</button>
        <button class="btn btn-outline btn-accent" (click)="loginWithGoogle()">Login with Google</button>
    </div>

    <div class="divider">Or login via email</div>
    <!-- email -->
    <div class="mb-3">
        <label class="label">Email</label>
        <input #email="ngModel" type="text" name="email" [(ngModel)]="credentials.email" placeholder="Email"
            class="input input-bordered w-full" required
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <app-alert *ngIf="email.errors?.['pattern']">
                {{ invalidEmailError() }}
            </app-alert>
            <app-alert *ngIf="email.errors?.['required']">
                {{ fieldRequiredError('email') }}
            </app-alert>
        </div>
    </div>
    <!-- password -->
    <div class="mb-3">
        <label class="label">Password</label>
        <input #password="ngModel" type="text" name="password" [(ngModel)]="credentials.password" placeholder="Password"
            class="input input-bordered w-full" required minlength="6" />
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <app-alert *ngIf="password.errors?.['minlength']">
                {{ fieldMinLengthError('password', passwordMinLength) }}
            </app-alert>
            <app-alert *ngIf="password.errors?.['required']">
                {{ fieldRequiredError('password') }}
            </app-alert>
        </div>
    </div>
    <!-- submit button -->
    <button class="btn bg-indigo-400 hover:bg-indigo-500 text-white w-full my-5" [disabled]="loginForm.invalid"
        [class.disabled]="loginForm.invalid" [class.loading]="loading">{{ loading ? "Submitting ..." :
        "Submit"}}</button>
</form>